body {
  width: 900px;
  padding: 30px;
  font-family: sans-serif;
}
img {
  height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

.right {
    text-align: right;
    float: right;
}

h1 {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}
h2 {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
    text-align: right;
    float: right;
}
hr.style13 {
  width: 900px;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
