<!DOCTYPE html>
<html ng-app="movieApp">
  <head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>


    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="styles/style.css" />

  <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
  <script type="text/javascript" src="scripts/client.js"></script>


  </head>
  <body>
    <div ng-controller="InputController">
      <input type="text" value="frozen" ng-model="name">
      <button ng-click="searchName(name)">Search</button>
    </div>
    <div ng-controller="OutputController">
      <!--this row seperate the main/left and main/right-->
      <div class="row">
        <div class="col-md-8 panel-group">
          List of movies
          <div class="row " ng-repeat="movie in listresults.results ">
            <div class="col-md-5" >
              <img ng-src="{{movie.Poster}}" />
            </div>
            <div class="col-md-7 panel panel-info">
              <div class="title panel-heading">

                Title: <span ng-model="favmovie.title">{{movie.Title}} </span>

                <a  ng-click="addFav(favmovie)">
                  <span class="glyphicon glyphicon-star"></span>
                </a>

                <a ng-click="delete(movie)" class="right" href="#">
                  <span class="glyphicon glyphicon-trash"></span>
                  <br />
                </a>


              </div>
              <div class="panel-body">
                <b>Actors:</b> {{movie.Actors}}<br />
                <b>Released:</b> {{movie.Year}}<br />
                <b>Length:</b> <span ng-model="favmovie.length">{{movie.Runtime}}</span><br />
              </div>
            </div>


          </div>
        </div>
        <div class="col-md-4">
          List all favorites
          <div ng-controller="OutputFavController">
          <p> {{ infoFromServer }} </p>
        </div>
        </div>
      </div>


    </div>
  </body>
</html>
