<!DOCTYPE html>
<html ng-app="movieApp">
  <head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>


    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="styles/style.css" />

  <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
  <script type="text/javascript" src="scripts/client.js"></script>


  </head>
  <body>
    <div ng-controller="InputController">
      <input type="text" ng-model="name">
      <button ng-click="searchName(name)">Search</button>
    </div>
    <div ng-controller="OutputController">
      <!--this row seperate the main/left and main/right-->
      <div class="row">
        <div class="col-md-8">
          List of movies
          <div class="row" ng-repeat="movie in listresults.results ">

            <div class="col-md-5" >
              <img ng-src="{{movie.Poster}}" />
            </div>
            <div class="col-md-7">
              Title: {{movie.Title}}
              Actors: {{movie.Actors}}
              Released: {{movie.Year}}
              Length: {{movie.Runtime}}


            </div>
          </div>
        </div>
        <div class="col-md-4">
          List all favorites
        </div>
      </div>


    </div>
  </body>
</html>
